<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>Header Fragment</title>
  	<div th:fragment="css">
  		<link rel="stylesheet" href="css/header.css" />
  	</div >
  </head>
  <body>
    <div class="wrapper" th:fragment="navbar">
      <div class="wrap">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"
              ><img
                src="images/school-search-icon.png"
                alt=""
                class="school-search-icon"
            /></a>
            <a class="brand-title navbar-brand">School Search</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 main">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Preços</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contato</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <div class="image-circle">
                      <img class="foto-perfil" src="images/icon-user.png" alt="" />
                    </div>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  	<li><a class="dropdown-item" th:href="@{/login}">Entrar</a></li>
                    <li><a class="dropdown-item" href="#">Cadastrar-se</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Mudar Perspectiva</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Sair</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </body>
</html>
