/* Estou vendo o que pode ser aproveitado na tela de cadastro de escola,
 j� que ambas possuem caracter�sticas gr�ficas semelhantes  */
.cadastro-form {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
}

.cadastro-wrapper {
  padding: 25px;
  background: #eae9e9;
  border-radius: 5px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.text-wrapping {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 96px;
  order: -1;
}

.logo_escola{
  float: left;
  width: 64px;
  padding: 5px;
  margin: 0px 10px 10px 0;
  order: -1;
}

.to-right {
  text-align: right;
}
.nav-tabs-form-escola {
	display: flex;
	justify-content: center;
}

.info-ensino-title{
	font-size: 0.95em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.tab-pane {
	padding-block: 0.625rem;
}

.btn-wrapper{
	margin-top: 10px;
	display: flex;
}

.btn-anterior,
.btn-proximo {
	display:block;
}
.btn-proximo,
.btn-confirmar {
	margin-left: auto;
}

.form-group label{
	font-weight: bold;
}


@media (min-width: 768px){
	.options-wrapper{
		display: flex;
		justify-content: space-between;
	}
}

