body{
	height: 100vh;
}

.navbar-footer {
	flex-direction: column;
}
.copyright-text {
  font-size: 0.8rem;
  text-align: center;
  color: #ddd;
  margin: 0.35rem;
}
.wrapper-footer {
  border-radius: 25px 25px 0 0;
  position: sticky;
  top: 100%;
}

.wrap-footer{
  height: 100%;
}

@media (min-width: 992px) {
  .navbar-footer {
    flex-direction: row;
    justify-content: center;
  }
}

.navbar-footer .nav-item{
  padding: 0.625rem;
}

.navbar-footer .nav-link {
  color: #ddd;
}