.container{
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
}

.listar-wrapper{
  padding: 25px;
  background: #eae9e9;
  border-radius: 5px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.text-wrapping {
  display: flex;
  justify-content: space-between;
}
.form-group{
  padding: 25px;

  border-radius: 5px
}
img.logo_escola {
  width: 96px;
  order: -1;
}
img {
 width: 80px;
}
.img-listar {
 height: 200px;
 
 width: 100px;
 max-height: 15%;
   float: left;
}
.logo_escola{
  float: left;
  width: 64px;
  padding: 5px;
  margin: 0px 10px 10px 0;
  order: -1;
}

.center {
	text-align: center;
	margin: 0;
	text-decoration: none;
}

.text-filtro::hover {
	color: initial;
}
.filtros {
	padding: 0;
	margin: 0;
}

.filtros-body {
	flex-direction: row;
	justify-content: space-between;
}

.escola-wrapper {
	display: flex;
}
.school-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-escola {
	margin-left: 2.5%;
	flex-grow: 1;
}

.info-escola p {
	margin-bottom: 0;
}

.info-endereco {
	width: 100%;
}

.wrap-values {
	margin-left: 15%;
}

.titulo {
	font-weight: bold;
}
.wrap-info {
	padding-block: 5px;
}

.wrap-button {
	display: flex;
}
.btn-more-info {
	margin-left: auto;
}

.info-escola {
	height: max-content;
}

.wrap-enums,
.wrap-mensalidade-idiomas {
	display: flex;
}

.wrap-info {
	flex: 1 1 0;
	width: 100%;
}

.more-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.btn-more-info.btn-collapsed {
	width: 100%;
}
