:root {
  --blue: #153c65;
  --greenish-blue: #00ffb3;
}

body {
  background: #546a76;
}

.login-card {
  max-width: 500px;
  margin: 0 auto;
}

.container {
  padding-block: 100px;
}
.login {
  text-align: center;
  margin-block: 20px;
}

.login-body {
  padding-inline: 20px;
}
.form-group {
  padding-block: 5px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
}
.criar-conta {
  display: inline-block;
  text-decoration: none;
}

.login-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.school-search-icon {
  height: 48px;
}

@media (max-width: 300px){
	.button-wrapper{
		flex-direction: column;
	}
	.btn + .btn{
		margin-bottom: 10px;
		order:-1;
	}
}
