@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.pad {
	padding-block: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5%;
}
.foto-perfil-card {
	margin-bottom: 5%;
}
.usuario-perfil-wrapper,
.usuario-image-circle{
	display: flex;
	justify-content: center;
	align-items: center;
	
	border: 5px solid var(--greenish-blue);
}

.usuario-perfil-wrapper {
	border-radius: 10px;
	padding-block: 0.625rem;
}

.usuario-image-circle {
	width: 100px;
	aspect-ratio: 1;
	border-radius: 50%;
}

.foto-perfil-label{
	width: 100%;
	text-align:center;
}

.foto-perfil-card,
.usuario-info-card{
	background-color: var(--blue);
}

.usuario-info-card {
	position: relative;
	flex-grow: 1;
}
.usuario-info-card * {
	z-index: 1;
}

.card {
	box-shadow: 0 0 15px black;
}
table {
	width: 100%;
}
tbody .col {
	text-transform: uppercase;
	font-weight: bold;
}
.table-user-info {
	font-family: "Open Sans", sans-serif;
}
.user-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.row {
	flex-grow: 1;
	flex-direction: row;
}

.user-info .row:not(:first-child) {
	padding-top: 10px;
}
.user-info .row/*:not(:last-child)*/
{
	padding-bottom: 10px;
}

.row .col {
	width: 30%;
}
tr td {
	display: inline;
}
.col-info {
	width: 70%;
}

.account-options td{
	width: 50%;
}
.account-options td a {
	display: block;
}


.group-buttons {
	display: flex;
	gap: 2.5%;
}

.btn-user-info {
	flex-grow: 1;
}

@media (min-width: 768px){
	.pad {
		flex-direction: row;
	}
	.foto-perfil-card {
		margin-bottom: 0%;
		height: fit-content;
	}
}
