

.navbar-footer {
	flex-direction: row;
}
.copyright-text {
  font-size: 0.5rem;
  text-align: center;
  color: var(--dark-blue);
  margin: 0.35rem;
}
.wrapper-footer {
  position: sticky;
  top: 100%;
}

.wrap-footer{
  height: 100%;
}

@media (min-width: 992px) {
  .navbar-footer {
    flex-direction: row;
    justify-content: center;
  }
}

.navbar-footer .nav-item{
  padding: 0.625rem;
}

.navbar-footer .nav-link {
  color: var(--dark-blue);
}