@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.d-block {
  object-fit: cover;
}

.overlay {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-inline: 20px;
}

.hero-text,
.carousel-caption{
	background-color: rgba(0,0,0, 0.75);
}
.hero-text {
	padding: 0.5em;
	color: var(--blue);
	font-family: "Roboto Mono", monospace;
	text-align: center;
	/**/background-color: rgba(0,0,0, 0.75);/**/

	box-shadow: 0px 0px 10px #000;
}
.hero-text > * {
	margin-block: 0.5rem;
}
.hero-title {
	text-transform: uppercase;
	font-weight: bold;
}
.hero-subtitle{
	font-weight: 300;
}
.hero-subtitle::after{
	content: "!";
}
@media(min-width: 576px){
	.hero-title{
		font-size: 2rem;
	}
	.hero-subtitle{
		font-size: 1.25rem;
		width: max-content;
	}
}

@media (min-width: 768px){
	.hero-title {
		font-size: 3rem;
	}
	.hero-subtitle{
		font-size: 1.875rem;
	}
}

@media (min-width: 992px){
	.hero-title {
		font-size: 4rem;
	}
	.hero-subtitle{
		font-size: 2.5rem;
	}
}