<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
   <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Usuario</title>
    <div th:replace="/fragments/head.html :: heading"></div>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"
    ></script>
    
    <div th:insert="/fragments/header.html :: css"></div>
    <div th:replace="/fragments/footer.html :: css"></div>


    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
      integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
      integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/cadastrar-escola.css" />
  </head>
  <body>
    <div th:replace="fragments/header.html :: navbar"></div>

    <div class="wrap">
      <div class="container">
        <div class="cadastro-form">
          <div class="cadastro-wrapper">
            <div class="cadastro-text">
              <div class="text-wrapping">
                <h1 class="to-right">Cadastro de Escola</h1>
                <i class="fas fa-graduation-cap logo fa-4x"></i>
              </div>
              <p class="to-right">
                Preencha os campos abaixo para se cadastrar no sistema.
              </p>

              <hr class="divider" />
            </div>
          <form 
          	th:object="${escola}"
          	th:action="@{/cadastrar-escola/processar}"
          	method="post"
          	>
          	<ul class="nav nav-tabs nav-tabs-form-escola" id="tabs-form-escola" role="tablist">
			  <li class="nav-item" role="presentation">
			    <button class="nav-link active" id="info-basica-tab" data-bs-toggle="tab" data-bs-target="#info-basica" type="button" role="tab" aria-controls="info-basica" aria-selected="true">
			    Informações Básicas
			    </button>
			  </li>
			  <li class="nav-item" role="presentation">
			    <button class="nav-link" id="info-endereco-tab" data-bs-toggle="tab" data-bs-target="#info-endereco" type="button" role="tab" aria-controls="info-endereco" aria-selected="false">
			    Endereço
			    </button>
			  </li>
			  <li class="nav-item" role="presentation">
			    <button class="nav-link" id="info-ensino-tab" data-bs-toggle="tab" data-bs-target="#info-ensino" type="button" role="tab" aria-controls="info-ensino" aria-selected="false">
			    Informações de Ensino
			    </button>
			  </li>
			</ul>
			<div class="tab-content" id="form-escola-tab-content">
			  <div class="tab-pane fade show active" id="info-basica" role="tabpanel" aria-labelledby="info-basica-tab">
			  	<div class="form-group">
	                <label for="nome-da-escola">Nome da Escola</label>
	                <input
	                  type="text"
	                  class="form-control"
	                  id="nome-da-escola"
	                  name="nome-da-escola"
	                  placeholder="Nome"
	                  th:field="*{nome}"
	                />
	                <div
	                  class="alert alert-danger error"
	                  th:if="${#fields.hasErrors('nome')}"
	                  th:errors="*{nome}"
	                  role="alert"
	                ></div>
              	</div>
	            <div class="form-group form-group-email">
	                <label for="email">Email</label>
	                <input
	                  type="text"
	                  class="form-control"
	                  id="email"
	                  name="email"
	                  placeholder="Email"
	                  th:field="*{email}"
	             />
		            <div
		              class="alert alert-danger error"
		              th:if="${#fields.hasErrors('email')}"
		              th:errors="*{email}"
		              role="alert"
		            >
		         	</div>
	          	</div>
	          	<div class="form-group form-group-email">
					<div class="row">
	                	<div class="col-md-6">
	                		<label for="email">CNPJ</label>
	                		<input
	                		  type="text"
	                		  class="form-control"
	                		  id="cnpj"
	                		  name="cnpj"
	                		  placeholder="CNPJ"
	                		  th:field="*{cnpj}"
    			             />
				            <div
				              class="alert alert-danger error"
				              th:if="${#fields.hasErrors('cnpj')}"
				              th:errors="*{cnpj}"
				              role="alert"
				            >
				         	</div>
	                	</div>
	                	<div class="col-md-6">
	                		<label for="telefone">Telefone</label>
			                <input
			                  type="text"
			                  class="form-control"
			                  id="telefone"
			                  name="telefone"
			                  placeholder="Telefone"
			                  th:field="*{telefone}"
			                />
			                <div
			                  class="alert alert-danger error"
			                  th:if="${#fields.hasErrors('telefone')}"
			                  th:errors="*{telefone}"
			                  role="alert"
			                ></div>
	                	</div>
	                </div>
	          	</div>
	          	<div class="btn-wrapper">
	          		<button type="button" role="button" class="btn btn-primary btn-proximo">Próximo</button >
	          	</div>
			  </div>
			  <div class="tab-pane fade" id="info-endereco" role="tabpanel" aria-labelledby="info-endereco">
			  	<div class="form-group">
	                <h4>Endereço</h4>
	                <div class="row">
	                  <div class="col-md-10">
	                    <div class="form-group">
	                      <label for="logradouro">Logradouro</label>
	                      <input
	                        class="form-control"
	                        type="text"
	                        name="logradouro"
	                        id="logradouro"
	                        th:field="*{endereco.logradouro}"
	                        placeholder="Logradouro"
	                      />
	                    </div>
	                    <div
	                      class="alert alert-danger error"
	                      th:if="${#fields.hasErrors('endereco.logradouro')}"
	                      th:errors="*{endereco.logradouro}"
	                      role="alert"
	                    ></div>
	                  </div>
	                  <div class="col-md-2">
	                    <div class="form-group">
	                      <label for="numero">Número</label>
	                      <input
	                        class="form-control numero"
	                        type="text"
	                        name="numero"
	                        id="numero"
	                        th:field="*{endereco.numero}"
	                      />
	                    </div>
	                    <div
	                      class="alert alert-danger error"
	                      th:if="${#fields.hasErrors('endereco.numero')}"
	                      th:errors="*{endereco.numero}"
	                      role="alert"
	                    ></div>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="col-md-4">
	                    <div class="form-group">
	                      <label for="bairro">Bairro</label>
	                      <input
	                        class="form-control"
	                        type="text"
	                        name="bairro"
	                        id="bairro"
	                        th:field="*{endereco.bairro}"
	                        placeholder="Bairro"
	                      />
	                    </div>
	                    <div
	                      class="alert alert-danger error"
	                      th:if="${#fields.hasErrors('endereco.bairro')}"
	                      th:errors="*{endereco.bairro}"
	                      role="alert"
	                    ></div>
	                  </div>
	                  <div class="col-md-4">
	                    <div class="form-group">
	                      <label for="cidade">Cidade</label>
	                      <input
	                        class="form-control"
	                        type="text"
	                        name="cidade"
	                        id="cidade"
	                        th:field="*{endereco.cidade}"
	                        placeholder="Cidade"
	                      />
	                    </div>
	                    <div
	                      class="alert alert-danger error"
	                      th:if="${#fields.hasErrors('endereco.cidade')}"
	                      th:errors="*{endereco.cidade}"
	                      role="alert"
	                    ></div>
	                  </div>
	                  <div class="col-md-4">
	                    <div class="form-group">
	                      <label for="estado">Estado</label>
	                      <input
	                        class="form-control"
	                        type="text"
	                        name="estado"
	                        id="estado"
	                        th:field="*{endereco.estado}"
	                        placeholder="Estado"
	                      />
	                    </div>
	                    <div
	                      class="alert alert-danger error"
	                      th:if="${#fields.hasErrors('endereco.estado')}"
	                      th:errors="*{endereco.estado}"
	                      role="alert"
	                    ></div>
	                  </div>
	                </div>
	              </div>
			  	<div class="btn-wrapper">
			  		<button type="button" role="button" class="btn btn-primary btn-anterior">Anterior</button >
	          		<button type="button" role="button" class="btn btn-primary btn-proximo">Próximo</button >
	          	</div>
			  </div>
			  <div class="tab-pane fade" id="info-ensino" role="tabpanel" aria-labelledby="info-ensino-tab">
			    <div class="options-wrapper">
			    	<div class="classificacaoEnsinoWrapper">
			    		<h5 class="info-ensino-title">Classificação de Ensino</h5>  
			    		<div class="form-check classificacaoEnsinoFiltro" th:each="classificacao : ${classificacoesEnsino}">
						  <div class="classificacaoEnsino">
						  	<input class="form-check-input" type="radio" th:name="classificacao" th:value="${classificacao}" th:field="*{classificacaoEnsino}" id="flexCheckDefault">
						  	<label class="form-check-label" for="flexCheckDefault">
						  	  [[${classificacao.classificacao}]]
						  	</label>
						  </div>
						</div>
						<div
	                      class="alert alert-danger error"
	                      th:if="${#fields.hasErrors('classificacaoEnsino')}"
	                      th:errors="*{classificacaoEnsino}"
	                      role="alert"
	                    ></div>
			    	</div>
					<div class="nivelEnsinoWrapper">
						<h5 class="info-ensino-title">Níveis de Ensino</h5 >
						<div class="form-check nivelEnsinoFiltro" th:each="nivel : ${niveisEnsino}">
						  <div class="classificacaoEnsino">
						  	<input class="form-check-input" type="checkbox" th:value="${nivel}" th:field="*{nivelEnsino}"id="flexCheckDefault">
						  	<label class="form-check-label" for="flexCheckDefault">
						  	  [[${nivel.nivel}]]
						  	</label>
						  </div>
						</div>
						<div
	                      class="alert alert-danger error"
	                      th:if="${#fields.hasErrors('nivelEnsino')}"
	                      th:errors="*{nivelEnsino}"
	                      role="alert"
	                    ></div>
					</div>
					<div class="metodoEnsinoWrapper">
						<h5 class="info-ensino-title">Método de Ensino</h5 >
						<div class="form-check metodoEnsinoFiltro" th:each="metodo : ${metodosEnsino}">
						  <div class="classificacaoEnsino">
						  	<input class="form-check-input" type="radio" name="metodo" th:field="*{metodoEnsino}" th:value="${metodo}" id="flexCheckDefault">
						  	<label class="form-check-label" for="flexCheckDefault">
						  	  [[${metodo.metodo}]]
						  	</label>
						  </div>
						</div>
						<div
	                      class="alert alert-danger error"
	                      th:if="${#fields.hasErrors('metodoEnsino')}"
	                      th:errors="*{metodoEnsino}"
	                      role="alert"
	                    ></div>
					</div>
			    </div>

			    <div class="form-group row">
			    	<div class="col-md-4">
			    		<label for="idioma">Idiomas</label>
	                	<input
	                    	class="form-control"
	                    	type="text"
	                    	name="idioma"
	                    	id="idioma"
	                    	data-bs-toggle="tooltip" 
	                    	data-bs-placement="top" 
	                    	title="A língua Português Brasileiro é adicionada por padrão, para adicionar outras é só dar escrever a língua e seguida de uma vírgula!"
	                    	
	                    	th:field="*{idiomas}"
	                	/>
			    	</div>
			    	<div class="col-md-4">
			    		<label for="proposta">Proposta curricular</label>
		                <input
	                    	class="form-control"
	                    	type="file"
	                    	accept=".pdf,.odf,.doc,.docx,.txt"
	                    	name="proposta"
	                    	id="proposta"
		                />
			    	</div>
			    	<div class="col-md-4">
			    		<label for="mensalidade">Mensalidade</label>
			    		<input 
			    			class="form-control mensalidade"
			    			type="text" 
			    			name="mensalidade" 
			    			id="mensalidade" 
			    			th:field="*{mensalidade}" 
			    			/>
			    		<div
	                      class="alert alert-danger error"
	                      th:if="${#fields.hasErrors('mensalidade')}"
	                      th:errors="*{mensalidade}"
	                      role="alert"
	                    ></div>
			    	</div>
			    </div>
			    <div class="btn-wrapper">
			  		<button type="button" role="button" class="btn btn-primary btn-anterior">Anterior</button >
			  		<button type="submit" class="btn btn-primary btn-confirmar">Confirmar</button >
	          	</div>
			  </div>
			</div>
			</form>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer.html :: footer"></div>
    <script type="text/javascript" src="/js/cadastro-escola.js"></script>
  </body>
</html>