<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div th:replace="/fragments/head.html :: heading"></div>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

<div th:insert="/fragments/header.html :: css"></div>
<div th:replace="/fragments/footer.html :: css"></div>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
	integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
	integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="/css/cadastrar-usuario.css" />

<title>Contato</title>
</head>
<body>
	<div th:replace="fragments/header.html :: navbar"></div>
	<center>
	<div class="wrap">
		<div class="container">
			<div class="cadastro-form">
			
				<div class="cadastro-wrapper">
					<div class="cadastro-text">
						<div class="text-wrapping">
							<h1>Contato</h1>

							<!-- i class="fas fa-graduation-cap logo fa-4x"></i-->
						</div>
						<div>
							<div>
								<p></p>
								<img src="../images/equipe.jpg" class="img-fluid" alt="...">
							</div>
							<div>
							
							
							
								<h5>
									<p>
									<h3>Equipe:</h3>
									</p>
									<p>
									<p class="text-center">
									<p><strong>FILIPE FARIAS CHAGAS</strong>
									<p><a href="mailto:filipe.farias@academico.ifpb.edu.br" class="email"><em>filipe.farias@academico.ifpb.edu.br</em></a></p>
									<p><strong>IZABEL VIEIRA CARNEIRO</strong></p>
									<p><a href="mailto:izabel.carneiro@academico.ifpb.edu.br" class="email"><em>izabel.carneiro@academico.ifpb.edu.br</em></a></p>
									<p><strong>MARIA ELIANA MACIEL MELO</strong></p>
									<p><a href="mailto:elianaad3@gmail.com" class="email"><em>elianaad3@gmail.com</em></a></p>
									<p><strong>PATRÍCIA DOS SANTOS PEREIRA</strong></em></p>
									<p><a href="mailto:patriciasantospb7@gmail.com" class="email"><em>patriciasantospb7@gmail.com</em></a></p>
									<p><strong>ROSENATO BARRETO DE LIMA</strong></em></p>
									<p><a href="mailto:rosenatoblima@gmail.com" class="email"><em>rosenatoblima@gmail.com</em></a></p>
									</p>


									</p>
									<p></p>
								</h5>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</center>
	<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>
