<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    
    <div th:replace="fragments/head.html :: heading"></div>
    <div th:insert="fragments/header.html :: css"></div >
     
    <link rel="stylesheet" href="css/login.css" media="all" />
    <title>Login - School Search</title>
  </head>
  <body>
  	<div th:replace="fragments/header.html :: navbar"></div>

    <div class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card login-card">
              <div class="card-header login-card-header">
                <h3 class="login">Login</h3>
                <a href="">
                  <img
                    class="school-search-icon"
                    src="school-search-icon.png"
                    alt=""
                    srcset=""
                  />
                </a>
              </div>
              <div class="card-body login-body">
                <form action="/login" method="post">
                  <div class="form-group">
                    <label for="email">CPF</label>
                    <input
                      type="text"
                      pattern="\d{3}.\d{3}.\d{3}-\d{2}"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="999.999.999-99"
                      data-inputmask="999.999.999-99"
                    />
                  </div>
                  <div class="form-group">
                    <label for="senha">Senha</label>
                    <input
                      type="password"
                      class="form-control"
                      id="senha"
                      name="senha"
                      placeholder="Senha"
                    />
                  </div>

                  <div class="button-wrapper">
                    <a class="btn btn-primary criar-conta" href="/cadastrar"
                      >Criar Conta</a
                    >
                    <input
                      type="submit"
                      class="btn btn-primary"
                      value="Entrar"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
