<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div th:replace="/fragments/head.html :: heading"></div>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

<div th:insert="/fragments/header.html :: css"></div>
<div th:replace="/fragments/footer.html :: css"></div>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
	integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
	integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="/css/cadastrar-usuario.css" />

<title>Sobre o Sistema</title>
</head>
<body>
	<div th:replace="fragments/header.html :: navbar"></div>


	<div class="wrap">
		<div class="container">
			<div class="cadastro-form">
				<div class="cadastro-wrapper">
					<div class="cadastro-text">
						<div class="text-wrapping">
							<h1>Sobre o Sistema</h1>
						</div>
						<div>
							<div>
								<p></p>
								<center><img src="../images/Escola-2.jpg" class="img-fluid" alt="..."></center>
							</div>
							<div>
								<h5>
									<p></p>
									<p>O School Search originou-se com o propósito de
										simplificar a busca de escolas para pais e/ou responsáveis de
										alunos.
									</p>
									<p>A ideia é de uma plataforma em que diversas escolas
										possam fazer suas divulgações, como forma de atrair alunos e
										por tanto ter maior número de matriculados. Nele é possível
										fazer buscas nas proximidades de sua localização.
									</p>
									<p>A pesquisa pode ser feita avaliando características
										importantes através do indicador do IDEB e SAEB, tipo de
										escola, formato de ensino, bem como a quantidade de alunos já
										cadastrados.
									</p>

									</p>
									<p></p>
								</h5>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>
